{% extends "base_template.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }} -
    {% trans "редактирование магазина"|capfirst %}
{% endblock title%}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <h2>{% trans "редактирование магазина"|capfirst %}</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "редактировать"|capfirst %}</button>
    </form>
{% endblock content%}

{% block footer%}
{% endblock footer%}